# Python Input and Output :

In [8]:
# Python Input 

num = input('Enter a number: ') # input always return a string
print('you entered : '+num)

Enter a number: 10
you entered : 10

In [7]:
# Python Output 
print('Hello for the\bWorld')

Hello for theWorld

In [ ]:
# \' 	Single Quote
# \' 	Double Quote
# \\ 	Backslash
# \n 	New Line
# \r 	Carriage Return
# \t 	Tab
# \b 	Backspace

# Python Syntax

In [ ]:
#Python Variables

x = 5                                   # Varibles need value to be created
y = "Hello, World!"
 
# variableName = initial value

In [ ]:
# Comments 

# this is a comment 

# you can multi line 
# a comment like

# Data Types in Python

In [26]:
# x = "Hello World"                           # this is a string(str)
# print(type(x))


# x = -20000                                  # this is an Integer(int)
# # type(x)
# print(x)

# x = 20.5                                    # this is a Float
# type(x)

# x = 2 + 1j                                  # this is a complex
# type(x)

# x = True                                    # this is a boolean(bool)
# type(x)

-20000

In [27]:
# x = ["apple", "banana", "cherry"]             # this is a list
# type(x)

# x = ("apple", "banana", "cherry")             # this is a tuple(ordered and unchangeable)
# type(x)

# x = range(6)                                   # this is a range
# type(x)

# x = {"name" : "John", "age" : 36}              # this is a dictionary(dict)
# type(x)

# x = {"apple", "banana", "cherry"}               # this is a set(unordered,unchangeable,and unindexed)
# type(x)
# print(x)

range(0, 6)

## Python Variables :

In [ ]:
# Creating a variable

x = 5
y = "John"

In [1]:
# Variables Names 

myvar = "Ahmed"
my_var = "Ahmed"
_my_var = "Ahmed"
myVar = "Ahmed"
MYVAR = "Ahmed"
myvar2 = "Ahmed"
print(myvar)

Ahmed

In [ ]:
# don't do 

2myvar = "Ahmed" # incorrect because we start the name with a number
my-var = "Ahmed" # incorrect because we use a dash in the name
my var = "Ahmed" # incorrect because we leave a space inside the variable's name

In [ ]:
# Good to know 

# Camel case : Second and subsequent words are capitalized
#to make word boundaries easier to see.ex: numberOfCollegeGraduates

# Pascal case : Identical to Camel Case, except the first word is also capitalized
# ex: NumberOfCollegeGraduates

# Snake Case: Words are separated by underscores. ex: number_of_college_graduates

In [28]:
# variables names are case sensitive

a = 5
A = 6
print(a)
print(A)

5
6

In [29]:
# Many values to multiple variables

x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [30]:
# One value to multiple Variables 

x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [31]:
# Unpack a list 

fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [3]:
# Specifying the type of a variable

x = str(3)    # x will be '3'

y = int(3.25)    # y will be 3

z = float(3)  # z will be 3.0

3
3

# Type Conversion

In [32]:
# implicit type conversion 

num_int = 123
num_flo = 1.23

num_new = num_int + num_flo

print("datatype of num_int:",type(num_int))
print("datatype of num_flo:",type(num_flo))

print("Value of num_new:",num_new)
print("datatype of num_new:",type(num_new))

datatype of num_int: <class 'int'>
datatype of num_flo: <class 'float'>
Value of num_new: 124.23
datatype of num_new: <class 'float'>

In [33]:
num_int = 123
num_str = "456"

print("Data type of num_int:",type(num_int))
print("Data type of num_str:",type(num_str))

print(num_int + num_str)

Data type of num_int: <class 'int'>
Data type of num_str: <class 'str'>

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [35]:
# Explicit type conversion 
# the form : <required_datatype>(expression)

num_int = 123
num_str = "456"
num_flo = 123.5

print(type(num_int))
print(type(num_str))

# Type Casting str to int 
num_str = int(num_str)
print("Data type of num_str after Type Casting:",type(num_str))

num_sum = num_int + num_str
print(num_sum)

# print("Sum of num_int and num_str:",num_sum)
# print("Data type of the sum:",type(num_sum))

# num_flo = int(num_flo)
# print(num_flo)

<class 'int'>
<class 'str'>
Data type of num_str after Type Casting: <class 'int'>
579

In [12]:
# Arithmetic Operators 
val1 = 2
val2 = 3
  
# using the addition operator
res = val1 + val2
print(res)

8

In [10]:
# Comparison Operators 

a = 5  

b = 6
print(a != b)

# Python equality operators (==, !=) are used to compare objects based on their values

True

In [36]:
# Logical Operators 
a = True 
b = False
print(a and b)

False

In [ ]:
# Idendity Operators 

x1 = 5
y1 = 5
x2 = 'Hello' #  Python identity operators (is, is not) are used to compare objects based on their identity.
             #  the identity of an object refers to its location in memory.  
y2 = 'Hello'
x3 = [1,2,3]
y3 = [1,2,3]

# Output: False
print(x1 is not y1)

# Output: True
print(x2 is y2)

# Output: False
print(x3 is y3)

In [ ]:
# Membership Operators 

x = 'Hello world'


print('H' in x)


print('hello' not in x)

# Conditional statements

In [ ]:
# Conditional Statements 
# if : 
a = 33
b = 200
if b > a:
  print("b is greater than a")

In [ ]:
# elif

a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

In [ ]:
# else 

a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

# For loop

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

In [ ]:
# Break 

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

In [ ]:
# Continue 

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

In [ ]:
# range 

for x in range(6):
  print(x)

In [37]:
# else in the for loop 
# form of range : range(start, stop, step)

for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [38]:
for x in range(6):
  if x == 3: break #  The else block will NOT be executed if the loop is stopped by a break statement.
  print(x)
else:
  print("Finally finished!")

0
1
2

# While loop :

In [7]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [ ]:
# Break Statement 
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

In [ ]:
# Continue Statement 
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

In [6]:
# the else Statement 
i = 1
while i < 6:
    print(i)
    i += 1
else:
  print("i is no longer less than 6")

1
2

# Strings Management :

In [ ]:
# Python identation rules

name = 'Ahmed'
  
if name == 'Ahmed':
      print('WelCome Ahmed..') # here we use Identation to insert the print inside our if condition
      print('How are you?')
else:
   print('Dude! whoever you are ')
   print('Why you here?')
 
print('Have a great day!') #if we move our print with only one space it becomes inside our else

In [ ]:
#don't Do that 

if( 1 == 1):
print("This is test code")

In [ ]:
# identation Rules : 

# Python uses 4 spaces as default indentation spaces. However, the number of spaces can 
# be anything, it is up to the user. But a minimum of one space is needed to indent 
# a statement.

# The first line of python code cannot have Indentation.
# Indentation is mandatory in python to define the blocks of statements.

# The number of spaces must be uniform in a block of code.

# It is preferred to use whitespaces instead of tabs to indent in python. 
# Also, either use whitespace or tabs to indent, intermixing of tabs and whitespaces 
# in indentation can cause wrong indentation errors.